/*FinalAd.jsx Newelement*/
.NewStatementButton:hover{
    cursor: pointer;

}
#NewStatementP1 , #NewStatementP2, #NewStatementE1, #NewStatementE2, #NewStatementE3, #NewStatementFinal{
    display: none;
    border: 5px solid darkblue;
    text-align: center;
    padding: 52px;
    margin: 20px 5px 50px;
}
#NewStatementP1 .stmt, #NewStatementP2 .stmt, #NewStatementE1 .stmt, #NewStatementE2 .stmt, #NewStatementE3 .stmt, #NewStatementFinal .stmt{
margin: 15px 5px;
}

/* There is another class with same name in the G1 components section */
/* .StmtImage{
    height: 400px;
    width: 80%;
} */

p.display-4{
    float: left;
}

/* //LOading spinner */

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}
.spinner{
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}
@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}