#G1 {
    overflow: hidden;
}

.stmtNo {
    /* float: left; */
    margin-bottom: 5px;
}

.StmtImage {
    height: 250px;
    width: 250px;
    /* float: right; */
    /* margin-bottom: 25%; */
}

.stmt {
    margin: 2%;
}

.row .stmt4 {
    margin: 2%;
    margin-bottom: 9%;
}

/* Styling for answer popup */
.ansPopUp input {
    display: none;
    width: -webkit-fill-available;
}

/* Styling for table with score */

.tableBar{
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 80%;
    padding: 15px;
    box-shadow: 5px;
}
.tableBar2{
    left: 0%;
}
.score {
    margin: 25px 0px 0px 15px;
    background: orange;
    border-radius: 50px;
    color: aliceblue;
    padding: 0px;
}
.score2{
    margin: 25px 0px 0px 170px;
}

table{
    text-align: center;
    border-collapse: separate !important;
    border-spacing: 5px;
    /* left: 25%; */
    width: 55% !important;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 5px #ece4e4;
    border-radius: 10px;
}

table tbody tr {
    border: hidden;
    border: 5px hidden;
    border-radius: 40px;
}


table tbody tr td {
    border-radius: 80px;
    background-color: ghostwhite;
    border: 5px hidden;
    padding: 6px 12px;
    cursor: pointer;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .tableBar{
        top: 85%;
        left: -1%;
    }
    table {
        border-collapse: collapse !important;
    }
    table tbody tr td {
        padding: 5px 10px;
    }
    .score,
    .tableBar2{
        visibility: hidden;
    }
}