/* Navbar */
nav div .collapse {
  width: 100%;
  display: flexbox;
  flex-direction: column;
  justify-content: flex-end;
  flex-direction: row;
}

nav div .collapse .buttons,
nav div .collapse .navbar-nav {
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  /* display: inline-block; */
}

.navbar-nav ul.dropdown-menu {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}



ul li {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem;
}

ul li.dropdown-item {
  background-color: blue;
}

a.active {
  font-weight: 500;
}

ul li a.dropdown-toggle.active {
  font-weight: 100;
}

ul li:hover {
  background-color: rgb(118, 176, 243);
  /* color: white; */
}



/* Home */
#home {
  background: rgb(0, 101, 219);
  background: linear-gradient(180deg, rgb(0, 101, 219) 50%, rgba(0, 212, 255, 1) 100%);
  min-height: 500px;
  /* height: 100vh; */
  scroll-snap-align: centre;
}
#BookARoadTest{
  height: 80vh;
  scroll-snap-align: centre;
}
#about {
  scroll-snap-align: centre;
  height: 80vh;
}
#services {
  scroll-snap-align: centre;
  height: 150vh;
}
#contact {
  scroll-snap-align: centre;
  height: 100vh;
}

body{
  /* overflow-y: hidden; */
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}


.wrapper {
  overflow-y: visible;
  overflow-x: hidden;
}

@media screen and (max-width: 620px) {
  .box-wrap {
    overflow-x: hidden;
  }
  nav div .collapse .buttons , nav div .collapse .navbar-nav {
    width: 100%;
    justify-content: center;
  }
  #BookARoadTest{
    height: 100vh;
  }
  #about {
    height: 100vh;
  }
  #services {
    height: 280vh;
  }
  #contact {
    height: 100vh;
  }
}

/* Services */
/*Cards*/

.card {
  transition: all 0.5s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.493);
}

/* Form */
.form {
  background: rgb(0, 101, 219);
  background: linear-gradient(90deg, rgb(0, 101, 219) 40%, rgba(0, 212, 255, 1) 100%);
}

/*Footer */
#footer {
  background: rgb(0, 101, 219);
  background: linear-gradient(90deg, rgb(0, 101, 219) 40%, rgba(0, 212, 255, 1) 100%);
}

.footer_a {
  list-style-type: none;
}