/* CSs for G1.jsx */
.buttons{
    width: 30%;
    margin: 1% 1%;
}

#G1 ul li , #G2 ul li, #G ul li{
    display: flex;
    justify-content: left;
    list-style: none;
}

#G1 ul li a, #G2 ul li a, #G ul li a{
    text-decoration: none;
    padding: inherit;
    color: black;
}

.activeTab{
    background: gainsboro;
}
.title{
display: inline;
float: left;
}

.content{
    display: none !important;
}
@media screen and (min-width: 420px){
.G1Contents .openbtn , .G1Contents .closebtn{
    visibility: hidden;
  }
  .G1Contents ul{
    position: fixed;
  }
}

@media screen and (max-width: 420px){
#G1 ul li a, #G2 ul li a, #G ul li a{
        color: rgb(255, 255, 255);
    }

.G1Contents{
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 5%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.G1ContentsList{
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.G1Contents NavLink, .G1Contents a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  .G1Contents NavLink:hover, .G1Contents NavLink:focus {
    color: #f1f1f1;
  }


  /* .G1Contents .openbtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 5;
  } */

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    .G1Contents NavLink {
        font-size: 20px;
    }
    .G1Contents .openbtn{
        margin-top: 1%;
    }
    .G1Contents .closebtn {
      position: absolute;
      font-size: 50px;
      top: 15px;
      right: 35px;
    }
    .showbtn{
        visibility: visible;
    }
    .hidebtn{
        visibility: hidden;
    }
  }